
/**
 * @file
 * Style rules for main Footle UI.
 */

.tx
  margin: 3rem .5rem 1rem
  max-width: 30rem
  border-bottom: solid thin #222

.rx
  margin: 3rem 0.5rem 1rem
  max-width: 30rem

.msg
  padding: .1rem .5rem
  border-radius: 3px
  background-color: #EFEFEF

.file-content iframe
  position: absolute
  height: 80%

.line
  background : white
  cursor : pointer
  font-family: monospace
  line-height : 1.4

  &:hover
    background-color: gold
.line__number
  color : #787878
  background : #ECECEC
  padding: 0 1em
.line__code
  white-space: pre
  padding-left: .5em

.tab-closer
  padding-left: .5em
