
/**
 * @file
 * Style rules for tabs, tab selectors and tab contents.
 */

.tab--file
  // @see adjustTabContentPosition()
  padding-top: 2.75em

  // Sticky at the top.
  > .tab-nav
    position: fixed
    top: 0
    width: 100%
    background-color: white

.tab-closer
  padding-left: .5em
